div#test-me {
    background-color: green;

    width: 100%;
    height: 100%;
}

div#panel-1 {
    background-color: cyan;
}

div#panel-2 {
    background-color: magenta;
    color: white;
}

div#panel-3 {
    background-color: yellow;
}

div#panel-4 {
    background-color: black;
    color: white;
}